# Binaries for programs and plugins
main
bin
klonol
build
*.exe
*.exe~
*.so
*.dylib
*.dll
vls.log

# Environment files
*.env
*.toml

# IDE Files
.idea
.vscode

scratch

# Ignore the backup executable inside backup directory
backup/backup

# Also ignore the credential file
backup/backup.toml
